
<div class="container">
  <h2>{{Titulo}}</h2>
  <br>
<div>

    <table class="table table-bordered table-striped">
  <thead class="table-dark">
  <tr>
    <th> Cant Empleados</th>
    <th> FechaFundacion</th>
    <th> Id Empresa</th>
    <th> Razon social</th>
   <th> Acciones</th> 
  </tr>
  </thead>
  <tbody>
   <tr *ngFor="let art of Items">
     <td>{{art.CantidadEmpleados}}</td>
     <td>{{art.FechaFundacion}}</td> 
     <td>{{art.IdEmpresa}}</td> 
     <td>{{art.RazonSocial}}</td> 
    	<td>
        	<button type="button" class="btn btn-sm btn-outline-primary" title="Edit" (click)="Consultar(dto)">
                    <span class="fas fa-pencil-alt"></span>       </button>
         <button type="button" class="btn btn-sm btn-outline-success" title="New" (click)="CrearNuevo(dto)"> <span class="fas fa-{{dt? 'times':'check'}}"></span> </button> 
					<button type="button" class="btn btn-sm btn-danger" title="Delete" (click)="Eliminar(dto)">
                    <span class="fas fa-{{dt? !'times':'times'}}"></span>
                </button>
					
			</td>
   </tr> 
  </tbody>
</table>
  </div>
  
<div>
<!-- Formulario para agregar un nuevo elemento-->
<div>

  <br>
  <br>

</div>
<div *ngIf="true">
<h1>Empresa (Agregar)</h1> 

</div>


<form name="FormReg" [formGroup]='FormReg' *ngIf="abm!='l'" class="bg-light">


	<fieldset [disabled]="AccionABMC==='C'">
		<!--campo cant empleados-->
		<div class="form-group row">
			<label class="col-form-label col-sm-2 col-sm-offset-2" for="Nombre">Cantidad empleados <span
                    class="text-danger">*</span></label>
			<div class="col-sm-6">
				<input type="text" class="form-control" formControlName="Nombre" 
         [ngClass]="{'is-invalid': (FormReg.controls.Nombre.touched || submitted)  
            && FormReg.controls.Nombre.errors}" />

				<span class="text-danger" *ngIf="(FormReg.controls.Nombre.touched || submitted) 
                        && FormReg.controls.Nombre.errors?.required">
                    Dato requerido.
                </span>
                <span class="text-danger" *ngIf="(FormReg.controls.Nombre.touched || submitted) 
                       && (FormReg.controls.Nombre.errors?.minlength || FormReg.controls.Nombre.errors?.maxlength) ">
                    Dato numerico, 3 a 4 caracteres.
                </span>
                
			</div>
		</div>

<!--campo fecha fundacion-->
		<div class="row form-group">
			<label class="col-form-label col-sm-2 col-sm-offset-2" for="Precio">Fecha fundacion <span
                    class="text-danger">*</span></label>
			<div class="col-sm-6">
				<input type="text" name="Precio" class="form-control" formControlName="Precio"
            [ngClass]="{'is-invalid': (FormReg.controls.Precio.touched || submitted)  
            && FormReg.controls.Precio.errors}" />
				<span class="text-danger" *ngIf="(FormReg.controls.Precio.touched || submitted) 
                       && FormReg.controls.Precio.errors?.required">
                    Dato requerido.
                </span>
				<span class="text-danger" *ngIf="(FormReg.controls.Precio.touched || submitted) 
               && FormReg.controls.Precio.errors?.pattern">
                    Dato numérico, 1 a 7 dígitos.
                </span>
			</div>
		</div>

<!--campo id empresa-->
		<div class="row form-group">
			<label class="col-form-label col-sm-2 col-sm-offset-2" for="Precio">Id empresa<span
                    class="text-danger">*</span></label>
			<div class="col-sm-6">
				<input type="text" name="Precio" class="form-control" formControlName="Precio"
            [ngClass]="{'is-invalid': (FormReg.controls.Precio.touched || submitted)  
            && FormReg.controls.Precio.errors}" />
				<span class="text-danger" *ngIf="(FormReg.controls.Precio.touched || submitted) 
                       && FormReg.controls.Precio.errors?.required">
                    Dato requerido.
                </span>
				<span class="text-danger" *ngIf="(FormReg.controls.Precio.touched || submitted) 
               && FormReg.controls.Precio.errors?.pattern">
                    Dato numérico, 1 a 5 dígitos.
                </span>
			</div>
		</div>

	<!--campo razon social-->
		<div class="form-group row">
			<label class="col-form-label col-sm-2 col-sm-offset-2" for="Nombre">Razon social<span
                    class="text-danger">*</span></label>
			<div class="col-sm-6">
				<input type="text" class="form-control" formControlName="Nombre" 
         [ngClass]="{'is-invalid': (FormReg.controls.Nombre.touched || submitted)  
            && FormReg.controls.Nombre.errors}" />

				<span class="text-danger" *ngIf="(FormReg.controls.Nombre.touched || submitted) 
                        && FormReg.controls.Nombre.errors?.required">
                    Dato requerido.
                </span>
                <span class="text-danger" *ngIf="(FormReg.controls.Nombre.touched || submitted) 
                       && (FormReg.controls.Nombre.errors?.minlength || FormReg.controls.Nombre.errors?.maxlength) ">
                    Dato texto, 4 a 50 caracteres.
                </span>
                
			</div>
		</div>

    </fieldset>

    <!-- Botones Grabar, Cancelar/Volver' -->
	<div class="row justify-content-center">
		<button type="button" class="btn btn-primary" (click)="Grabar()">
            <span class="fas fa-check"></span> Grabar
        </button>
		
		<button type="button" class="btn btn-warning" (click)="Volver()">Cancelar
        </button>
	</div>

  
</form>