
<div class="container">
  <h3>{{Titulo}}</h3>
<div>
    <table class="table table-bordered table-striped">
  <thead class="table-dark">
  <tr>
    <th> Cant Empleados</th>
    <th> FechaFundacion</th>
    <th> Id Empresa</th>
    <th> Razon social</th>
  </tr>
  </thead>
  <tbody>
   <tr *ngFor="let art of Items">
     <td>{{art.CantidadEmpleados}}</td>
     <td>{{art.FechaFundacion}}</td> 
     <td>{{art.IdEmpresa}}</td> 
     <td>{{art.RazonSocial}}</td> 
   </tr> 
  </tbody>
</table>
  </div>


